/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {
  padding: 2rem;
}

.ui.vertical.menu {
  width: auto;
}

.ui.menu.app-header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  h3 {
    margin: 0;
  }
}

.ui.input {
  margin-bottom: 1rem;
}

.ui.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.64285em 0 0 -.64285em;
    width: 1.2857em;
    height: 1.2857em;
    border-radius: 500rem;
    border: .2em solid rgba(0, 0, 0, 0.15);
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.64285em 0 0 -.64285em;
    width: 1.2857em;
    height: 1.2857em;
    -webkit-animation: button-spin .6s linear;
    animation: button-spin .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
}