/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

$black : #1B1C1D;
$blacker: #0B0D0F;
$light-black: #2B2E30;

body {
  padding: 2rem;
  background: $black;
  color: #fff;
}

img {
  max-width: 100%;
}

.ui.dropdown.left {
  margin-left: 1rem;
}

.ui.dropdown .menu {
  border-radius: 0.2857rem;
  margin-top: 0.5em;

  & > .item {
    padding: 0.6em 0.8em;
  }
}

.champion-header {
  position: relative;
}

.champion-header-stats {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.champion-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($blacker, 0.75);
  padding: 10px 20px;
  margin: 0;
  overflow: hidden;

  .champion-page & {
    top: 0;
    bottom: auto;
    padding: 20px 40px;
  }
}

.champion-name {
  font-size: 2em;
  float: left;
  color: #fff;

  .champion-page & {
    font-size: 6em;
  }
}

.champion-img {
  width: 100%;
}

.champion-button {
  float: right;
}

.ui.vertical.menu {
  width: auto;
}

.ui.sidebar.right.menu {
  position: absolute;
  width: 33%;
  font-size: inherit;
  text-align: left;
  color: #fff;
  background: rgba($black, 0.85);

  & .close.icon {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
}

.ui.statistic {
  display: block;
  float: left;
  width: 33.3%;
  border-right: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin: 0;
  padding: 20px 0;

  & + .ui.statistic {
    margin: 0;
  }
}

.ui.statistics .statistic > .value,
.ui.statistic > .value {
  color: inherit;
  font-size:2rem;
}
.ui.statistics .statistic > .label,
.ui.statistic > .label {
  color: inherit;
  opacity: 0.5;
}

.ui.input {
  margin-bottom: 1rem;
}

.ui.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -2.5rem 0 0 -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 500rem;
    border: .5rem solid rgba(0, 0, 0, 0.15);
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -2.5rem 0 0 -2.5rem;
    width: 5rem;
    height: 5rem;
    -webkit-animation: button-spin .6s linear;
    animation: button-spin .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: .5em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
}

.ui.menu.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 1rem 2rem;
  color: #fff;
  z-index: 100;
  background: $black;
  border-bottom: 1px solid $blacker;

  h3 {
    margin: 0;
  }
}

.app-header-search {
  position: absolute;
  right: 2rem;
}

.app-main {
  position: fixed;
  top: 4em;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y:auto;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: $black;
}

.cell {
  opacity: 0.9;
  cursor: pointer;
  stroke: $black;
  stroke-width: 1px;

  &:hover {
    opacity: 1;
    & image {
      opacity: 1;
    }
  }

  & image {
    opacity: 0.5;
  }
}

.cell-tooltip {
  opacity: 0;

  .cell:hover & {
    opacity: 1;
  }
}

.cell-tooltip-text {
  fill: #fff;
}

.ui.list .item.autocomplete {
  padding-left: 0;
  padding-right: 0;

  &:hover {

  }

  & .image {
    margin-right: 0.5em;
  }
}

.bar-graphs {
  padding: 2rem;
}

.bar-graph {
  margin-bottom: 3.5em;
  font-size: 1.25em;

  &.small {
    font-size: 0.75em;
    margin-bottom: 1em;
  }
}

.bar-graph-sub {
  max-height: 0;
  transition: all 0.3s ease;
  margin-top: -1.5em;
  overflow: hidden;
  border-radius: 0 0 1em 1em;

  &.shown {
    max-height: 100rem;
    padding: 2.5em 1em 1em 1em;
    background: $light-black;
  }
}

.bar-graph-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.25em;
  opacity: 0.5;
  margin-bottom: 0.5em;
}

.bar-graph-data {
  position: relative;
  background: $light-black;
  border-radius: 100em;

  .icon {
    position: absolute;
    right: 1em;
    top: 0;
    line-height: 3;
    transition: all 0.3s ease;
    opacity: 0.75;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.bar-graph-data-value {
  height: 3em;
  background: green;
  border-radius: 100em;
  width: 0%;
  min-width: 3em;
  max-width: 100%;

  &.small {
    height: 2em;
  }
}

.bar-graph-value {
  position: absolute;
  top: 0;
  left: 2em;
  line-height: 3;
  color: #fff;
  font-weight: 600;

  &.small {
    line-height: 2;
    left: 1em;
  }
}

.champion-section-title {
  font-size: 5em;
  text-align: center;
}

.champion-badges {
  position: absolute;
  top: 200px;
  left: 0;
}

.champion-badge {
  line-height: 3;
  padding: 0 40px;
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
  opacity: 0.8;
  border-radius: 0 2em 2em 0;
}